<template>
  <q-page>
    <q-card class="q-pa-sm">
      <q-card class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-11">
              <div class="text-h4"><b>{{ title }}</b></div>
              <div class="text-subtitle1"><b>{{ subtitle }}</b></div>
            </div>
            <div class="col-md-1" style="text-align: right">
              <q-btn label="guardar" rounded color="primary" size="md" @click="save">
                <q-tooltip>
                  Guardar datos de año escolar
                </q-tooltip>
              </q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <q-separator />

          <q-card-section class="q-pa-sm row">
            <q-card flat class="q-pa-sm row" style="width: 100%;">
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                 <q-input type="date" v-model="form.cedula" label="Inicio"
                 :error="$v.form.cedula.$error"
                  @blur="$v.form.cedula.$touch()"
                  error-message="Ingrese cédula" autofocus stack-label/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                 <q-input type="date" v-model="form.nombre" label="Fin" :error="$v.form.nombre.$error"
                  @blur="$v.form.nombre.$touch()"
                  error-message="Ingrese nombres" stack-label/>
              </div>
            </q-card>
          </q-card-section>

          <span class="text-h6">Profesores</span>
          <div class="row q-col-gutter-sm">
          <q-card v-for="(item, index) in teachers" class="col-md-3" :key="index">
          <q-img
            :ratio="20/7"
            src="https://cdn.quasar.dev/img/chicken-salad.jpg"
          />

          <q-card-section>
            <q-avatar
              class="absolute"
              :style="avatarStyle"
              size="150px"
            >
              <img :src="item.avatar">

            </q-avatar>
            <br>

            <div class="row no-wrap items-center q-pt-xl">
              <div class="col text-h6 ellipsis">
                {{ item.name }}
              </div>
              <span class="text-grey">{{ item.grade }}</span>
            </div>
            <div class="q-pt-lg">
              <q-item style="padding: 0">
                <q-item-section top class="gt-sm">
                  <q-item-label class="q-mt-sm text-grey full-width text-bold">Estudiantes</q-item-label>
                </q-item-section>

        <q-item-section top side>
          <div class="text-grey-8 q-gutter-xs">
            <q-btn class="gt-xs" size="12px" flat dense round icon="add" @click="openStudentModal(index)">
              <q-tooltip>Agregar estudiante</q-tooltip>
            </q-btn>
          </div>
        </q-item-section>
      </q-item>
              <br>
              <q-item v-for="contact in item.students" :key="contact.id" class="q-mb-sm" clickable v-ripple>
        <q-item-section avatar>
          <q-avatar>
            <img :src="contact.avatar">
          </q-avatar>
        </q-item-section>

        <q-item-section>
          <q-item-label>{{ contact.name }}</q-item-label>
          <q-item-label caption lines="1">{{ contact.email }}</q-item-label>
        </q-item-section>

        <!-- <q-item-section side>
          <q-icon name="chat_bubble" color="grey" />
        </q-item-section> -->
      </q-item>

            </div>

            <!-- <div class="q-pt-lg">

              <b class="text-grey full-width">Reseña profesional</b>
              <br>
              <p style="word-wrap: break-word">{{ record.about }}</p>
            </div>

            <div class="q-pt-lg row">

              <b
                class="text-grey col-8"
                style="font-size: initial"
              >Trabajos recientes</b>

              <div
                class="col-4 text-blue"
                style="text-align: end;"
              >
                <q-btn
                  :icon="partialWorks ? 'expand_more' : 'expand_less'"
                  flat
                  round
                  style="margin-right: -14px;"
                  @click="partialWorks = !partialWorks"
                />
              </div>

            </div>

            <div class="no-wrap text-grey text-bold">
              <div
                class="col ellipsis"
                v-for="(item, key) in works"
                :key="key"
              >
                <q-icon
                  name="work"
                  color="blue"
                  class="q-pr-sm"
                />{{ item.name }}
              </div>
            </div>

            <div class="q-pt-lg row">

              <b
                class="text-grey col-9"
                style="font-size: initial"
              >Calificaciones recientes</b>

              <div
                class="col-3 text-blue"
                style="text-align: end;"
              >
                <q-btn
                  :icon="partialRatings ? 'expand_more' : 'expand_less'"
                  flat
                  round
                  style="margin-right: -14px;"
                  @click="partialRatings = !partialRatings"
                />
              </div>

            </div>

            <div class="no-wrap text-grey text-bold">
              <div
                class="col ellipsis"
                v-for="(item, key) in ratings"
                :key="key"
              >
                <q-icon
                  name="star_rate"
                  color="blue"
                  class="q-pr-sm"
                />{{ item.message }}
                <q-rating
                  :value="parseInt(item.ranking)"
                  :max="5"
                  size="16px"
                  readonly
                />
              </div>
            </div> -->

          </q-card-section>

        </q-card>
        </div>
    </q-card>
    <q-dialog v-model="addStudentModal">
      <q-card class="q-pa-md my-card">
        <span class="text-h6">Seleccione estudiantes</span>
        <q-list>
          <!--
            Rendering a <label> tag (notice tag="label")
            so QCheckboxes will respond to clicks on QItems to
            change Toggle state.
          -->

          <q-item tag="label" v-ripple style="padding: 0" v-for="(item, key) in students" :key="key">
            <q-item-section avatar>
              <q-checkbox v-model="item.value" val="teal" color="primary" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ item.name }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
        <div style="text-align: end">
          <q-btn label="Añadir" color="primary" @click="addStudents"/>
        </div>
      </q-card>
    </q-dialog>
  </q-page>
</template>
<script>
import { required } from 'vuelidate/lib/validators'
// import { FormMixin } from '../../../../../mixins/form'
export default {
  data () {
    return {
      id: this.$route.params.id,
      title: 'Año escolar',
      subtitle: '',
      route: 'estudiantes',
      form: {
      },
      color: ['cyan'],
      students: [
        {
          id: 5,
          name: 'María Pérez',
          email: '0412-1234567',
          avatar: 'https://i.pravatar.cc/200',
          grade: '5to C',
          value: false
        }, {
          id: 6,
          name: 'José García',
          email: '0416-1234567',
          avatar: 'https://i.pravatar.cc/201',
          grade: '5to C',
          value: false
        }
      ],
      teachers: [
        {
          name: 'Yohan Arias',
          avatar: 'https://i.pravatar.cc/200',
          grade: '5to A',
          students: []
        },
        {
          name: 'Karyulis Pinto',
          avatar: 'https://i.pravatar.cc/300',
          grade: '5to B',
          students: []
        }
      ],
      addStudentModal: false,
      indexTeacher: null
    }
  },
  computed: {
    avatarStyle () {
      if (this.$q.screen.lt.sm) {
        return 'top: 0; margin: 0 auto; transform: translateY(-50%); left: calc(50% - 75px);'
      } else {
        return 'top: 0; transform: translateY(-50%); left: calc(50% - 75px);'
      }
    }
  },
  validations () {
    return {
      form: {
        nombre: { required },
        apellido: { required },
        email: { required },
        telefono: { required },
        cedula: { required }
      }
    }
  },
  async mounted () {
    if (this.id) {
      this.getRecord()
    }
  },
  methods: {
    getRecord () {
      this.$api.get(`estudiantes/${this.id}`).then(res => {
        if (res) {
          this.form = res
        }
      })
    },
    save () {
      this.$v.form.$touch()
      if (!this.$v.form.$error) {
        if (!this.id) {
          this.$api.post('estudiantes', this.form).then(res => {
            if (res) {
              this.$router.go(-1)
            }
          })
        } else {
          this.$api.put(`estudiantes/${this.id}`, this.form).then(res => {
            if (res) {
              this.$router.go(-1)
            }
          })
        }
      }
    },
    openStudentModal (indexTeacher) {
      this.addStudentModal = true
      this.indexTeacher = indexTeacher
    },
    addStudents () {
      // Añadir los estudiantes que tenga value true y eliminarlos del array
      const selectedStudents = this.students.filter(val => val.value)
      selectedStudents.forEach(element => {
        this.teachers[this.indexTeacher].students.push(element)
        // Eliminar del array
        this.students.splice(this.students.findIndex(val => val.id === element.id), 1)
      })
      this.addStudentModal = false
    }
  }
}
</script>
<style scoped>
.my-card {
  width: 300px;
}
</style>
