<template>
  <q-page>
    <q-card class="q-pa-sm">
      <q-card class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-11">
              <div class="text-h4"><b>{{ title }}</b></div>
              <div class="text-subtitle1"><b>{{ subtitle }}</b></div>
            </div>
            <div class="col-md-1" style="text-align: right">
              <q-btn label="guardar" rounded color="primary" size="md" @click="save">
                <q-tooltip>
                  Guardar área
                </q-tooltip>
              </q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <q-separator />

          <q-card-section class="q-pa-sm row">
            <q-card flat class="q-pa-sm row" style="width: 100%;">
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                 <q-input v-model="form.nombre" label="Nombre" error-message="Ingrese nombre de área"
                :error="$v.form.nombre.$error"
                @blur="$v.form.nombre.$touch()" autofocus/>
              </div>
            </q-card>
          </q-card-section>
    </q-card>
  </q-page>
</template>
<script>
import { required } from 'vuelidate/lib/validators'
// import { FormMixin } from '../../../../../mixins/form'
export default {
  data () {
    return {
      id: this.$route.params.id,
      title: 'Áreas laborales',
      subtitle: 'Nueva área',
      route: 'areas_laborales',
      form: {
      }
    }
  },
  computed: {
  },
  validations () {
    return {
      form: {
        nombre: { required }
      }
    }
  },
  async mounted () {
    if (this.id) {
      this.getRecord()
    }
  },
  methods: {
    getRecord () {
      this.$api.get(`${this.route}/${this.id}`).then(res => {
        if (res) {
          this.form = res
        }
      })
    },
    save () {
      this.$v.form.$touch()
      if (!this.$v.form.$error) {
        if (!this.id) {
          this.$api.post(this.route, this.form).then(res => {
            if (res) {
              this.$router.go(-1)
            }
          })
        } else {
          this.$api.put(`${this.route}/${this.id}`, this.form).then(res => {
            if (res) {
              this.$router.go(-1)
            }
          })
        }
      }
    }
  }
}
</script>
