<template>
  <q-page>
    <q-card class="q-pa-sm">
      <q-card class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-11">
              <div class="text-h4"><b>{{ title }}</b></div>
              <div class="text-subtitle1"><b>{{ subtitle }}</b></div>
            </div>
            <div class="col-md-1" style="text-align: right">
              <q-btn label="guardar" rounded color="primary" size="md" @click="save">
                <q-tooltip>
                  Guardar empleado
                </q-tooltip>
              </q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <q-tabs v-model="tab" dense class="text-grey" active-color="primary" indicator-color="primary" align="justify"
        narrow-indicator>
        <q-tab name="datos_personales" label="Datos personales" />
        <q-tab name="datos_laborales" label="Datos laborales" />
        <q-tab name="curriculo" label="Currículo" />
        <q-tab name="datos_electorales" label="Datos electorales" />
      </q-tabs>

      <q-separator />

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="datos_personales">
          <q-card-section class="q-pa-sm row">
            <q-card flat class="q-pa-sm row" style="width: 100%;">
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-select v-model="form.datos_personales.tipo_empleado" label="Tipo de empleado" :options="tiposEmpleado"
                emit-value map-options option-value="id" option-label="nombre"
                :error="$v.form.datos_personales.tipo_empleado.$error"
                @blur="$v.form.datos_personales.tipo_empleado.$touch()"
                error-message="Seleccione tipo de empleado" autofocus>
                </q-select>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-input v-model="form.datos_personales.cedula" label="Cédula" error-message="Ingrese cédula"
                  :error="$v.form.datos_personales.cedula.$error" @blur="$v.form.datos_personales.cedula.$touch()"/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-input color="primary" label="Nombres" v-model="form.datos_personales.nombres" error-message="Ingrese nombres"
                  :error="$v.form.datos_personales.nombres.$error" @blur="$v.form.datos_personales.nombres.$touch()"/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-input v-model="form.datos_personales.apellidos" label="Apellidos"
                  error-message="Ingrese apellidos"
                  :error="$v.form.datos_personales.apellidos.$error" @blur="$v.form.datos_personales.apellidos.$touch()">
                </q-input>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-input type="date" v-model="form.datos_personales.fecha_nacimiento" label="Fecha de nacimiento"
                  error-message="Ingrese fecha de nacimiento válida" stack-label
                  :error="$v.form.datos_personales.fecha_nacimiento.$error" @blur="$v.form.datos_personales.fecha_nacimiento.$touch()">
                </q-input>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-select v-model="form.datos_personales.sexo" label="Sexo" :options="['M', 'F']"
                  :error="$v.form.datos_personales.sexo.$error" @blur="$v.form.datos_personales.sexo.$touch()" error-message="Seleccione sexo">
                </q-select>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-input v-model="form.datos_personales.telefono" label="Teléfono"
                  error-message="Ingrese teléfono válido"
                  :error="$v.form.datos_personales.telefono.$error" @blur="$v.form.datos_personales.telefono.$touch()">
                </q-input>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-input v-model="form.datos_personales.correo" label="Correo"
                  error-message="Ingrese teléfono válido"
                  :error="$v.form.datos_personales.correo.$error" @blur="$v.form.datos_personales.correo.$touch()">
                </q-input>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-input v-model="form.datos_personales.twitter" label="Twitter"
                  error-message="Ingrese teléfono válido"
                  :error="$v.form.datos_personales.twitter.$error" @blur="$v.form.datos_personales.twitter.$touch()">
                </q-input>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-input v-model="form.datos_personales.direccion" label="Dirección"
                  error-message="Ingrese dirección válida"
                  :error="$v.form.datos_personales.direccion.$error" @blur="$v.form.datos_personales.direccion.$touch()">
                </q-input>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-select v-model="form.datos_personales.municipio" label="Municipio" :options="municipios" emit-value map-options
                  error-message="Seleccione municipio"
                  :error="$v.form.datos_personales.municipio.$error" @blur="$v.form.datos_personales.municipio.$touch()">
                </q-select>
              </div>
            </q-card>
          </q-card-section>
        </q-tab-panel>

        <q-tab-panel name="datos_laborales">
          <q-card-section class="q-pa-sm row">
            <q-card flat class="q-pa-sm row" style="width: 100%;">
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-select v-model="form.datos_laborales.organismo_id" label="Organismo" :options="organismos" emit-value
                :error="$v.form.datos_laborales.organismo_id.$error"
                @blur="$v.form.datos_laborales.organismo_id.$touch()"
                error-message="Seleccione organismo"
                map-options option-value="id" option-label="nombre"/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-select v-model="form.datos_laborales.plantel_id" label="Plantel" :options="planteles"
                emit-value :error="$v.form.datos_laborales.plantel_id.$error"
                @blur="$v.form.datos_laborales.plantel_id.$touch()"
                error-message="Seleccione dependencia"
                map-options option-value="id" option-label="nombre"/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-select v-model="form.datos_laborales.tipo_personal_id" label="Tipo de personal" :options="tiposPersonal" emit-value
                :error="$v.form.datos_laborales.tipo_personal_id.$error"
                @blur="$v.form.datos_laborales.tipo_personal_id.$touch()"
                error-message="Seleccione tipo de personal"
                map-options option-value="id" option-label="nombre"/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-input type="date" v-model="form.datos_laborales.fecha_ingreso_mpppe" label="Fecha de ingreso MPPE"
                error-message="Ingrese fecha de ingreso" :error="$v.form.datos_laborales.fecha_ingreso_mpppe.$error"
                @blur="$v.form.datos_laborales.fecha_ingreso_mpppe.$touch()"
                  stack-label/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-input v-model="form.datos_laborales.cargo" label="Cargo" error-message="Seleccione cargo"
                :error="$v.form.datos_laborales.cargo.$error"
                @blur="$v.form.datos_laborales.cargo.$touch()"/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-input v-model="form.datos_laborales.codigo_cargo" label="Código" error-message="Ingrese código"
                :error="$v.form.datos_laborales.codigo_cargo.$error"
                @blur="$v.form.datos_laborales.codigo_cargo.$touch()"/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-input v-model="form.datos_laborales.funcion_real_cargo" label="Función"
                error-message="Ingrese función"
                :error="$v.form.datos_laborales.funcion_real_cargo.$error"
                @blur="$v.form.datos_laborales.funcion_real_cargo.$touch()"/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-input v-model="form.datos_laborales.codigo_dependencia_recibo_pago"
                label="Código dependencia según recibo pago" error-message="Ingrese código"
                :error="$v.form.datos_laborales.codigo_dependencia_recibo_pago.$error"
                @blur="$v.form.datos_laborales.codigo_dependencia_recibo_pago.$touch()"/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-select v-model="form.datos_laborales.estatus_laboral_id" label="Estatus laboral"
                :options="tiposEstatusLaboral"
                emit-value map-options option-value="id" option-label="nombre"
                error-message="Seleccione estatus laboral"
                :error="$v.form.datos_laborales.estatus_laboral_id.$error"
                @blur="$v.form.datos_laborales.estatus_laboral_id.$touch()"/>
              </div>
              <template v-if="form.datos_personales.tipo_empleado ===  3">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                  <q-select v-model="form.datos_laborales.cargo_segun_voucher" label="Cargo según voucher"
                  :options="tiposCargosV"
                  emit-value map-options option-value="id" option-label="nombre"
                  error-message="Seleccione cargo"
                :error="$v.form.datos_laborales.cargo_segun_voucher.$error"
                @blur="$v.form.datos_laborales.cargo_segun_voucher.$touch()"/>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                  <q-select v-model="form.datos_laborales.funcion_actual" label="Función actual" :options="funciones"
                  emit-value map-options option-value="id" option-label="nombre"
                  error-message="Seleccione función"
                :error="$v.form.datos_laborales.funcion_actual.$error"
                @blur="$v.form.datos_laborales.funcion_actual.$touch()"/>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-2 q-pb-md q-pr-md">
                  <q-select v-model="area_laboral" label="Seleccione y añada un área laboral" :options="areasLaborales"
                  option-value="id" option-label="nombre" :error="$v.area_laboral.$error"
                @blur="$v.area_laboral.$touch()"
                error-message="Seleccione área a añadir"/>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                  <q-input v-model="cantidad" label="Cantidad" :error="$v.cantidad.$error"
                @blur="$v.cantidad.$touch()"
                error-message="Ingrese cantidad"/>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-1 col-lg-2 q-pb-md q-pt-md">
                  <q-btn icon="add" color="primary" round @click="addArea"/>
                </div>
                <q-list v-if="form.datos_laborales.areasLaborales.length" bordered class="rounded-borders" style="max-width: 600px">
                  <q-item-label header>Áreas laborales</q-item-label>
                  <q-item v-for="(item, key) in form.datos_laborales.areasLaborales" :key="key">
                    <q-item-section avatar top>
                      <q-icon name="account_tree" color="black" size="34px" />
                    </q-item-section>

                    <q-item-section top class="col-8 gt-sm">
                      <q-item-label class="q-mt-sm">{{ item.nombre }} - {{ item.cantidad }}</q-item-label>
                    </q-item-section>

                    <q-item-section top side>
                      <div class="text-grey-8 q-gutter-xs">
                        <q-btn size="12px" flat dense round icon="close" color="negative" @click="form.datos_laborales.areasLaborales.splice(key, 1)"/>
                      </div>
                    </q-item-section>
                  </q-item>
                  <q-separator spaced />
                </q-list>
              </template>
            </q-card>
          </q-card-section>
        </q-tab-panel>

        <q-tab-panel name="curriculo">
          <q-card-section class="q-pa-sm row">
            <q-card flat class="q-pa-sm row" style="width: 100%;">
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-select v-model="form.curriculo.titulo_obtenido" label="Título obtenido" :options="titulos" emit-value
                map-options option-value="id" option-label="nombre"
                :error="$v.form.curriculo.titulo_obtenido.$error"
                @blur="$v.form.curriculo.titulo_obtenido.$touch()"
                error-message="Seleccione título"/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-input v-model="form.curriculo.nombre_titulo" label="Nombre o mención del título"
                 :error="$v.form.curriculo.nombre_titulo.$error"
                @blur="$v.form.curriculo.nombre_titulo.$touch()"
                error-message="Ingrese nombre o mención"/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-input v-model="form.curriculo.descripcion_titulo" label="Descripción del título"
                :error="$v.form.curriculo.descripcion_titulo.$error"
                @blur="$v.form.curriculo.descripcion_titulo.$touch()"
                error-message="Ingrese descripción"/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-input type="number" v-model="form.curriculo.annio_obtencion" label="Año de obtención del título"
                :error="$v.form.curriculo.annio_obtencion.$error"
                @blur="$v.form.curriculo.annio_obtencion.$touch()"
                error-message="Ingrese año"/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-input v-model="form.curriculo.institucion" label="Institución que emite el título"
                :error="$v.form.curriculo.institucion.$error"
                @blur="$v.form.curriculo.institucion.$touch()"
                error-message="Ingrese institución"/>
              </div>
            </q-card>
          </q-card-section>
        </q-tab-panel>

        <q-tab-panel name="datos_electorales">
          <q-card-section class="q-pa-sm row">
            <q-card flat class="q-pa-sm row" style="width: 100%;">
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-input v-model="form.datos_electorales.centro_votacion" label="Centro de votación"
                error-message="Ingrese centro de votación" :error="$v.form.datos_electorales.centro_votacion.$error"
                @blur="$v.form.datos_electorales.centro_votacion.$touch()"/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-input v-model="form.datos_electorales.direccion_centro_votacion" label="Dirección del centro"
                error-message="Ingrese dirección" :error="$v.form.datos_electorales.direccion_centro_votacion.$error"
                @blur="$v.form.datos_electorales.direccion_centro_votacion.$touch()"/>
              </div>
            </q-card>
          </q-card-section>
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
  </q-page>
</template>
<script>
import { required, requiredIf } from 'vuelidate/lib/validators'
// import { FormMixin } from '../../../../../mixins/form'
export default {
  data () {
    return {
      id: this.$route.params.id,
      title: 'Empleados',
      subtitle: 'Nuevo empleado',
      route: 'water_analysis',
      form: {
        datos_personales: {},
        datos_laborales: {
          areasLaborales: []
        },
        curriculo: {},
        datos_electorales: {}
      },
      area_laboral: null,
      municipios: [
        {
          label: 'Nirgua',
          value: 1
        }
      ],
      tab: 'datos_personales',
      organismos: [
        {
          id: 1,
          nombre: 'MPPE'
        },
        {
          id: 2,
          nombre: 'SENIFA'
        },
        {
          id: 3,
          nombre: 'CNAE'
        }
      ],
      planteles: [
        {
          id: 1,
          nombre: 'Municipal'
        },
        {
          id: 2,
          nombre: 'Estadal'
        },
        {
          id: 3,
          nombre: 'Nacional'
        }
      ],
      tiposPersonal: [
        {
          id: 1,
          nombre: 'Titular'
        },
        {
          id: 2,
          nombre: 'Contratado'
        },
        {
          id: 3,
          nombre: 'Suplente'
        }
      ],
      tiposEstatusLaboral: [
        {
          id: 1,
          nombre: 'Activo'
        },
        {
          id: 2,
          nombre: 'Vacaciones'
        },
        {
          id: 3,
          nombre: 'Permiso contractual'
        },
        {
          id: 4,
          nombre: 'Reposo continuo'
        },
        {
          id: 5,
          nombre: 'Proceso de jubilación'
        },
        {
          id: 6,
          nombre: 'Otro'
        }
      ],
      tiposEmpleado: [
        {
          id: 1,
          nombre: 'Docente'
        },
        {
          id: 2,
          nombre: 'Administrativo'
        },
        {
          id: 3,
          nombre: 'Obrero'
        }
      ],
      tiposCargosV: [
        {
          id: 1,
          nombre: 'Portero'
        },
        {
          id: 2,
          nombre: 'Aseador'
        },
        {
          id: 3,
          nombre: 'Mensajero'
        },
        {
          id: 4,
          nombre: 'Otro'
        }
      ],
      areasLaboralesTodas: [
      ],
      funciones: [
        {
          id: 1,
          nombre: 'Aseador'
        },
        {
          id: 2,
          nombre: 'Mensajero'
        },
        {
          id: 3,
          nombre: 'Portero'
        },
        {
          id: 4,
          nombre: 'Jardinero'
        },
        {
          id: 5,
          nombre: 'Vigilante nocturno'
        },
        {
          id: 6,
          nombre: 'Secretaria'
        },
        {
          id: 7,
          nombre: 'Otro'
        }
      ],
      titulos: [
        {
          id: 1,
          nombre: 'TSU'
        },
        {
          id: 2,
          nombre: 'Licenciado'
        },
        {
          id: 3,
          nombre: 'Posgrado/Especialización'
        },
        {
          id: 4,
          nombre: 'MSG'
        },
        {
          id: 5,
          nombre: 'DR'
        }
      ],
      cantidad: null,
      areasLaborales: []
    }
  },
  computed: {
  },
  validations () {
    return {
      form: {
        datos_personales: {
          tipo_empleado: { required },
          cedula: { required },
          nombres: { required },
          apellidos: { required },
          fecha_nacimiento: { required },
          sexo: { required },
          telefono: {},
          correo: {},
          twitter: {},
          direccion: { required },
          municipio: { required }
        },
        datos_laborales: {
          organismo_id: { required },
          plantel_id: { required },
          tipo_personal_id: { required },
          fecha_ingreso_mpppe: { required },
          cargo: { required },
          codigo_cargo: { required },
          funcion_real_cargo: { required },
          codigo_dependencia_recibo_pago: { required },
          estatus_laboral_id: { required },
          cargo_segun_voucher: {
            required: requiredIf(function (nestedModel) {
              return this.form.datos_personales.tipo_empleado === 3
            })
          },
          funcion_actual: {
            required: requiredIf(function (nestedModel) {
              return this.form.datos_personales.tipo_empleado === 3
            })
          }
        },
        curriculo: {
          titulo_obtenido: { required },
          nombre_titulo: { required },
          descripcion_titulo: { required },
          annio_obtencion: { required },
          institucion: { required }
        },
        datos_electorales: {
          centro_votacion: { required },
          direccion_centro_votacion: { required }
        }
      },
      cantidad: { required },
      area_laboral: { required }
    }
  },
  async mounted () {
    await this.getAreasLaborales()
    if (this.id) {
      await this.getRecord()
    }
  },
  methods: {
    async getRecord () {
      this.$api.get(`empleados/${this.id}`).then(res => {
        if (res) {
          this.form = res
          this.setAreasLaborales()
        }
      })
    },
    async getAreasLaborales () {
      this.$api.get('areas_laborales').then(res => {
        if (res) {
          this.areasLaboralesTodas = res
          this.setAreasLaborales()
        }
      })
    },
    save () {
      this.$v.form.$touch()
      if (!this.$v.form.$error) {
        if (!this.id) {
          this.$api.post('empleados', this.form).then(res => {
            if (res) {
              this.$router.go(-1)
            }
          })
        } else {
          this.$api.put(`empleados/${this.id}`, this.form).then(res => {
            if (res) {
              this.$router.go(-1)
            }
          })
        }
      }
    },
    addArea () {
      console.log('add')
      this.$v.cantidad.$touch()
      this.$v.area_laboral.$touch()
      if (!this.$v.cantidad.$error && !this.$v.area_laboral.$error) {
        this.area_laboral.cantidad = this.cantidad
        this.area_laboral.area_laboral_id = this.area_laboral.id
        this.form.datos_laborales.areasLaborales.push(this.area_laboral)
        console.log('areasLaborales', this.form.datos_laborales.areasLaborales)
        this.area_laboral = null
        this.cantidad = null
        this.setAreasLaborales()
        this.$v.cantidad.$reset()
        this.$v.area_laboral.$reset()
      }
    },
    setAreasLaborales () {
      console.log('areasLaboralesTodas', this.areasLaboralesTodas)
      const a = this.areasLaboralesTodas.filter(val => !this.form.datos_laborales.areasLaborales.find(val2 => val2.area_laboral_id === val.id))
      console.log('a', a)
      this.areasLaborales = a
    }
  }
}
</script>
