<template>
  <q-page>
    <q-card class="q-pa-sm">
      <q-card class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-11">
              <div class="text-h4"><b>{{ title }}</b></div>
              <div class="text-subtitle1"><b>{{ subtitle }}</b></div>
            </div>
            <div class="col-md-1" style="text-align: right">
              <q-btn label="guardar" rounded color="primary" size="md" @click="save">
                <q-tooltip>
                  Guardar estudiante
                </q-tooltip>
              </q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <q-separator />

          <q-card-section class="q-pa-sm row">
            <q-card flat class="q-pa-sm row" style="width: 100%;">
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                 <q-input v-model="form.cedula" label="Cédula"
                 :error="$v.form.cedula.$error"
                  @blur="$v.form.cedula.$touch()"
                  error-message="Ingrese cédula" autofocus/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                 <q-input v-model="form.nombre" label="Nombres" :error="$v.form.nombre.$error"
                  @blur="$v.form.nombre.$touch()"
                  error-message="Ingrese nombres"/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-input v-model="form.apellido" label="Apellidos"
                  :error="$v.form.apellido.$error"
                  @blur="$v.form.apellido.$touch()"
                  error-message="Ingrese apellidos"/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
               <q-input v-model="form.email" label="Correo"
                :error="$v.form.email.$error"
                @blur="$v.form.email.$touch()"
                error-message="Ingrese correo"/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-input v-model="form.telefono" label="Teléfono" :error="$v.form.telefono.$error"
                @blur="$v.form.telefono.$touch()"
                error-message="Ingrese teléfono"/>
              </div>
            </q-card>
          </q-card-section>
    </q-card>
  </q-page>
</template>
<script>
import { required } from 'vuelidate/lib/validators'
// import { FormMixin } from '../../../../../mixins/form'
export default {
  data () {
    return {
      id: this.$route.params.id,
      title: 'Estudiantes',
      subtitle: 'Nuevo estudiante',
      route: 'estudiantes',
      form: {
      }
    }
  },
  computed: {
  },
  validations () {
    return {
      form: {
        nombre: { required },
        apellido: { required },
        email: { required },
        telefono: { required },
        cedula: { required }
      }
    }
  },
  async mounted () {
    if (this.id) {
      this.getRecord()
    }
  },
  methods: {
    getRecord () {
      this.$api.get(`estudiantes/${this.id}`).then(res => {
        if (res) {
          this.form = res
        }
      })
    },
    save () {
      this.$v.form.$touch()
      if (!this.$v.form.$error) {
        if (!this.id) {
          this.$api.post('estudiantes', this.form).then(res => {
            if (res) {
              this.$router.go(-1)
            }
          })
        } else {
          this.$api.put(`estudiantes/${this.id}`, this.form).then(res => {
            if (res) {
              this.$router.go(-1)
            }
          })
        }
      }
    }
  }
}
</script>
