<template>
  <q-page>
    <div>
      <q-card flat class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-9">
              <div class="text-h4"><b>{{ title }}</b></div>
            </div>
            <div class="col-md-3" style="text-align: right;">
              <q-btn class="q-ma-sm" round icon="add" color="primary" size="md" :to="`${$route.path}/form`">
                <q-tooltip>
                  Nuevo plantel
                </q-tooltip>
              </q-btn>
              <!-- <q-btn class="q-ma-sm" round icon="get_app" color="primary" size="md" @click="exportTable">
                <q-tooltip>
                  Exportar
                </q-tooltip>
              </q-btn> -->
              <q-btn class="q-ml-sm" round  @click="$q.fullscreen.toggle()"
                :icon="$q.fullscreen.isActive ? 'fullscreen_exit' : 'fullscreen'" color="primary" size="md">
                <q-tooltip>
                  Pantalla completa
                </q-tooltip>
              </q-btn>
            </div>
            <div class="col-md-2">
              <q-input v-model="text" placeholder="Buscar" @input="filter" outlined dense>
                <template v-slot:append>
                  <q-icon v-if="text !== ''" name="close" @click="text = '',pools = stringPools" class="cursor-pointer" />
                  <q-icon name="search" />
                </template>
              </q-input>
            </div>
          </div>
        </q-card-section>
      </q-card>

      <div class="q-pa-sm">
        <q-card flat bordered class="my-card bg-grey-1 q-pa-md q-mt-md">
          <q-card-section class="row">
            <div class="col">
              <b class="text-grey-7">Nombre</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Municipio</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">RIF</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Código DEA</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Correo</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Teléfono</b>
            </div>
            <div class="col" style="text-align: right">
              <b class="text-grey-7">Acciones</b>
            </div>
          </q-card-section>
          <q-separator color="grey-4" />
            <q-card-section class="row" v-for="(analysis, index) in analysis" :key="index">
              <div class="col">
                <p class="text-grey-7">{{ analysis.nombre }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ analysis.municipio }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ analysis.rif }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ analysis.codigo_dea }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ analysis.correo }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ analysis.telefono }}</p>
              </div>
               <div class="col" style="text-align: right">
                <q-btn flat icon="edit" size="sm" color="primary"
                  :to="`/planteles/form/${analysis.id}`"
                  dense>
                  <q-tooltip>
                    Editar
                  </q-tooltip>
                </q-btn>
                <q-btn flat icon="delete" size="sm" color="primary" @click="showConfirm(analysis.id)" dense>
                  <q-tooltip>
                    Eliminar
                  </q-tooltip>
                </q-btn>
              </div>
            </q-card-section>
            <h5 class="text-grey" v-if="!analysis.length" style="text-align: center;">No hay registros para mostrar</h5>
            <q-separator color="grey-4" />
          </q-card>
        </div>
    </div>
    <q-dialog v-model="confirm" persistent>
        <q-card>
          <q-card-section class="row items-center">
            <q-avatar icon="warning" color="negative" text-color="white" />
            <span class="q-ml-sm">Está seguro de eliminar?</span>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn flat label="Cancelar" color="primary" v-close-popup />
            <q-btn flat label="Eliminar" color="primary" @click="deleteRecord" v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>
  </q-page>
</template>

<script>
import { exportFile } from 'quasar'
function wrapCsvValue (val, formatFn) {
  let formatted = formatFn !== undefined
    ? formatFn(val)
    : val

  formatted = formatted === undefined || formatted === null
    ? ''
    : String(formatted)

  formatted = formatted.split('"').join('""')
  /**
   * Excel accepts \n and \r in strings, but some other CSV parsers do not
   * Uncomment the next two lines to escape new lines
   */
  // .split('\n').join('\\n')
  // .split('\r').join('\\r')

  return `"${formatted}"`
}
export default {
  components: {},
  data () {
    return {
      id: null,
      title: 'Planteles',
      pagination: {
        page: 1,
        rowsPerPage: 10
      },
      buttons: [
        {
          label: 'Nuevo', icon: 'add', color: 'primary', url: `${this.$route.path}/form`, action: '', permission: '2.1.1.1.27'
        }
      ],
      cols: [
        { name: 'cedula', required: true, label: 'Cédula', align: 'left', field: 'cedula', sortable: true },
        { name: 'nombres', required: true, label: 'Nombres', align: 'left', field: 'nombres', sortable: true },
        { name: 'apellidos', required: true, label: 'Apellidos', align: 'left', field: 'apellidos', sortable: true },
        { name: 'sexo', required: true, label: 'Sexo', align: 'left', field: 'sexo', sortable: true },
        { name: 'correo', required: true, label: 'Correo', align: 'left', field: 'correo', sortable: true },
        { name: 'telefono', required: true, label: 'telefono', align: 'left', field: 'correo', sortable: true },
        { name: 'actions', required: true, label: 'Acciones', align: 'left', field: 'actions' }
      ],
      text: '',
      analysis: [],
      stringAnalysis: [],
      confirm: false,
      link: ''
    }
  },
  mounted () {
    this.getAnalysis()
  },
  methods: {
    getAnalysis () {
      // this.$q.loading.show()
      this.$api.get('planteles').then(res => {
        this.$q.loading.hide()
        this.analysis = res
        this.stringAnalysis = res
      })
    },
    exportTable () {
      // naive encoding to csv format
      // const columns = JSON.parse(JSON.stringify(this.cols))
      const columns = Object.create(this.cols)
      if (columns[columns.length - 1].name === 'actions') {
        columns.pop()
      }

      console.log('col', columns)
      const content = [columns.map(col => wrapCsvValue(col.label))].concat(
        this.analysis.map(row => columns.map(col => wrapCsvValue(
          typeof col.field === 'function'
            ? col.field(row)
            : row[col.field === undefined ? col.name : col.field],
          col.format
        )).join(','))
      ).join('\r\n')

      const status = exportFile(
        'table-export.csv',
        content,
        'text/csv'
      )

      if (status !== true) {
        this.$q.notify({
          message: 'Browser denied file download...',
          color: 'negative',
          icon: 'warning'
        })
      }
    },
    filter () {
      if (this.text === '') {
        this.analysis = this.stringAnalysis
        return
      }
      const needle = this.text.toLowerCase()
      this.analysis = JSON.parse(JSON.stringify(this.stringAnalysis))
      this.analysis = this.stringAnalysis.filter(val => {
        return val.nombre.indexOf(needle) > -1 || val.municipio.toLowerCase().indexOf(needle) > -1 ||
        val.rif.toLowerCase().indexOf(needle) > -1 || val.codigo_dea.toLowerCase().indexOf(needle) > -1 ||
        val.correo.toLowerCase().indexOf(needle) > -1 || val.telefono.toLowerCase().indexOf(needle) > -1
      })
    },
    showConfirm (id) {
      this.confirm = true
      this.id = id
    },
    deleteRecord () {
      this.$api.delete(`planteles/${this.id}`).then(res => {
        if (res) {
          this.$q.dialog({
            title: 'Éxito',
            message: 'Registro eliminado exitosamente'
          })
          this.getAnalysis()
        }
      })
    }
  }
}
</script>
<style>
</style>
