<template>
  <q-page>
    <q-card class="q-pa-sm">
      <q-card class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-11">
              <div class="text-h4"><b>{{ title }}</b></div>
              <div class="text-subtitle1"><b>{{ subtitle }}</b></div>
            </div>
            <div class="col-md-1" style="text-align: right">
              <q-btn label="guardar" rounded color="primary" size="md" @click="save">
                <q-tooltip>
                  Guardar plantel
                </q-tooltip>
              </q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <q-separator />

          <q-card-section class="q-pa-sm row">
            <q-card flat class="q-pa-sm row" style="width: 100%;">
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                 <q-input v-model="form.codigo_dependencia" label="Código dependencia"
                 :error="$v.form.codigo_dependencia.$error"
                  @blur="$v.form.codigo_dependencia.$touch()"
                  error-message="Ingrese código" autofocus/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                 <q-input v-model="form.codigo_dea" label="Código DEA" :error="$v.form.codigo_dea.$error"
                  @blur="$v.form.codigo_dea.$touch()"
                  error-message="Ingrese código"/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-input v-model="form.codigo_estadistico" label="Código estadístico"
                  :error="$v.form.codigo_estadistico.$error"
                  @blur="$v.form.codigo_estadistico.$touch()"
                  error-message="Ingrese código"/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
               <q-input v-model="form.codigo_electoral" label="Código electoral"
                :error="$v.form.codigo_electoral.$error"
                @blur="$v.form.codigo_electoral.$touch()"
                error-message="Ingrese código"/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-input v-model="form.rif" label="RIF" :error="$v.form.rif.$error"
                @blur="$v.form.rif.$touch()"
                error-message="Ingrese rif"/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-input v-model="form.codigo_circuito" label="Código circuito" :error="$v.form.codigo_circuito.$error"
                @blur="$v.form.codigo_circuito.$touch()"
                error-message="Ingrese código"/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-select v-model="form.turno_id" label="Turnos" :options="turnos" option-value="id" option-label="nombre"
                emit-value map-options :error="$v.form.turno_id.$error"
                @blur="$v.form.turno_id.$touch()"
                error-message="Seleccione turno">
                </q-select>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-select v-model="form.tipo_matricula_id" label="Tipo de matrícula" :options="tiposMatricula"
                option-value="id"
                option-label="nombre" emit-value map-options :error="$v.form.tipo_matricula_id.$error"
                @blur="$v.form.tipo_matricula_id.$touch()"
                error-message="Seleccione tipo de matrícula">
                </q-select>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-select v-model="form.bolivariana" label="Bolivariana" :options="opcionesBolivariana"
                emit-value map-options :error="$v.form.bolivariana.$error"
                @blur="$v.form.bolivariana.$touch()"
                error-message="Seleccione valor">
                </q-select>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-input v-model="form.nombre" label="Nombre institución" :error="$v.form.nombre.$error"
                @blur="$v.form.nombre.$touch()"
                error-message="Ingrese nombre"/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-input v-model="form.direccion" label="Dirección" :error="$v.form.direccion.$error"
                @blur="$v.form.direccion.$touch()"
                error-message="Ingrese dirección"/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-input v-model="form.municipio" label="Municipio" :error="$v.form.municipio.$error"
                @blur="$v.form.municipio.$touch()"
                error-message="Ingrese municipio"/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-select v-model="form.denominacion_id" label="Denominación" :options="denominaciones"
                emit-value map-options option-value="id" option-label="nombre" :error="$v.form.denominacion_id.$error"
                @blur="$v.form.denominacion_id.$touch()"
                error-message="Seleccione denominación">
                </q-select>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-select v-model="form.dependencia_id" label="Dependencia" :options="dependencias"
                emit-value map-options option-value="id" option-label="nombre" :error="$v.form.dependencia_id.$error"
                @blur="$v.form.dependencia_id.$touch()"
                error-message="Seleccione dependencia">
                </q-select>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-select v-model="form.niveles" label="Niveles y modalidad" :options="niveles"
                emit-value map-options option-value="id" option-label="nombre" :error="$v.form.niveles.$error"
                @blur="$v.form.niveles.$touch()"
                error-message="Seleccione nivel">
                </q-select>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-select v-model="form.ubicacion_id" label="Ubicación" :options="ubicaciones"
                emit-value map-options option-value="id" option-label="nombre" :error="$v.form.ubicacion_id.$error"
                @blur="$v.form.ubicacion_id.$touch()"
                error-message="Seleccione nivel">
                </q-select>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-input v-model="form.correo" label="Correo" :error="$v.form.correo.$error"
                @blur="$v.form.correo.$touch()"
                error-message="Ingrese correo"/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-input v-model="form.telefono" label="Teléfono" :error="$v.form.telefono.$error"
                @blur="$v.form.telefono.$touch()"
                error-message="Ingrese teléfono"/>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
                <q-select v-model="form.estatus_id" label="Estatus" :options="status"
                emit-value map-options option-value="id" option-label="nombre" :error="$v.form.estatus_id.$error"
                @blur="$v.form.estatus_id.$touch()"
                error-message="Ingrese teléfono">
                </q-select>
              </div>
            </q-card>
          </q-card-section>
    </q-card>
  </q-page>
</template>
<script>
import { required } from 'vuelidate/lib/validators'
// import { FormMixin } from '../../../../../mixins/form'
export default {
  data () {
    return {
      id: this.$route.params.id,
      title: 'Planteles',
      subtitle: 'Nuevo plantel',
      route: 'water_analysis',
      form: {
      },
      area_laboral: null,
      turnos: [
        {
          id: 1,
          nombre: 'Diurno'
        },
        {
          id: 2,
          nombre: 'Nocturno'
        },
        {
          id: 3,
          nombre: 'Ambos(integral)'
        }
      ],
      tiposMatricula: [
        {
          id: 1,
          nombre: 'Hembras'
        },
        {
          id: 2,
          nombre: 'Varones'
        },
        {
          id: 3,
          nombre: 'Mixto'
        }
      ],
      opcionesBolivariana: [
        {
          label: 'Sí',
          value: true
        },
        {
          label: 'No',
          value: false
        }
      ],
      denominaciones: [
        {
          id: 1,
          nombre: 'Público'
        },
        {
          id: 2,
          nombre: 'Privado'
        }
      ],
      dependencias: [
        {
          id: 1,
          nombre: 'Nacional'
        },
        {
          id: 2,
          nombre: 'Estadal'
        },
        {
          id: 3,
          nombre: 'Municipal'
        },
        {
          id: 4,
          nombre: 'Privado'
        }
      ],
      niveles: [
        {
          id: 1,
          nombre: 'Maternal'
        },
        {
          id: 2,
          nombre: 'Inicial'
        },
        {
          id: 3,
          nombre: 'Primaria'
        },
        {
          id: 4,
          nombre: 'Media'
        },
        {
          id: 5,
          nombre: 'Media general'
        },
        {
          id: 6,
          nombre: 'Educación de adulto'
        },
        {
          id: 7,
          nombre: 'Educación especial'
        }
      ],
      ubicaciones: [
        {
          id: 1,
          nombre: 'Rural'
        },
        {
          id: 2,
          nombre: 'Urbano'
        }
      ],
      status: [
        {
          id: 1,
          nombre: 'Activo'
        },
        {
          id: 2,
          nombre: 'Cerrado'
        }
      ],
      funciones: [
        {
          id: 1,
          nombre: 'Aseador'
        },
        {
          id: 2,
          nombre: 'Mensajero'
        },
        {
          id: 3,
          nombre: 'Portero'
        },
        {
          id: 4,
          nombre: 'Jardinero'
        },
        {
          id: 5,
          nombre: 'Vigilante nocturno'
        },
        {
          id: 6,
          nombre: 'Secretaria'
        },
        {
          id: 7,
          nombre: 'Otro'
        }
      ],
      titulos: [
        {
          id: 1,
          nombre: 'TSU'
        },
        {
          id: 2,
          nombre: 'Licenciado'
        },
        {
          id: 3,
          nombre: 'Posgrado/Especialización'
        },
        {
          id: 4,
          nombre: 'MSG'
        },
        {
          id: 5,
          nombre: 'DR'
        }
      ]
    }
  },
  computed: {
  },
  validations () {
    return {
      form: {
        codigo_dependencia: { required },
        codigo_dea: { required },
        codigo_estadistico: { required },
        codigo_electoral: { required },
        rif: { required },
        codigo_circuito: { required },
        turno_id: { required },
        tipo_matricula_id: { required },
        bolivariana: { required },
        nombre: { required },
        direccion: { required },
        municipio: { required },
        denominacion_id: { required },
        dependencia_id: { required },
        niveles: { required },
        ubicacion_id: { required },
        correo: { required },
        telefono: { required },
        estatus_id: { required }
      }
    }
  },
  async mounted () {
    if (this.id) {
      this.getRecord()
    }
  },
  methods: {
    getRecord () {
      this.$api.get(`planteles/${this.id}`).then(res => {
        if (res) {
          this.form = res
        }
      })
    },
    save () {
      this.$v.form.$touch()
      if (!this.$v.form.$error) {
        if (!this.id) {
          this.$api.post('planteles', this.form).then(res => {
            if (res) {
              this.$router.go(-1)
            }
          })
        } else {
          this.$api.put(`planteles/${this.id}`, this.form).then(res => {
            if (res) {
              this.$router.go(-1)
            }
          })
        }
      }
    }
  }
}
</script>
