<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />
        <q-btn color="white" v-if="$route.path != '/menu'" @click="$router.go(-1)" class="q-ml-lg" label="Volver" flat dense icon="keyboard_backspace" />

        <q-toolbar-title>
          Escuela Bolivariana Miguel Ángel Granados
        </q-toolbar-title>

        <div>v1.0.0.0</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
          Menú
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'

const linksData = [
  {
    title: 'Empleados',
    icon: 'person',
    link: '/empleados'
  },
  /* {
    title: 'Horas laborales',
    caption: 'github.com/quasarframework',
    icon: 'code',
    link: 'https://github.com/quasarframework'
  }, */
  {
    title: 'Áreas laborales',
    icon: 'location_on',
    link: '/areas_laborales'
  },
  /* {
    title: 'Organismos',
    icon: 'group_work',
    link: 'https://forum.quasar.dev'
  }, */
  {
    title: 'Planteles',
    icon: 'account_balance',
    link: '/planteles'
  },
  {
    title: 'Estudiantes',
    icon: 'perm_identity',
    link: '/estudiantes'
  },
  {
    title: 'Representantes',
    icon: 'supervisor_account',
    link: '/representantes'
  },
  {
    title: 'Año escolar',
    icon: 'calendar_today',
    link: '/annio_escolar'
  }
]

export default {
  name: 'MainLayout',
  components: { EssentialLink },
  data () {
    return {
      leftDrawerOpen: false,
      essentialLinks: linksData
    }
  }
}
</script>
